<!DOCTYPE html>
<html lang="ko" 
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head></head>
<body>

			
  <!-- Footer S -->
  <div th:fragment="common-footer" class="footer pt-5 pb-6" id="footer-main">
    <div class="row">
      <div class="col footer_box_01">
        <ul class="footer_li_txt">
          <li>에이팜스</li>
          <li>제주특별자치도 제주시 건입동 산지로 25 3F</li>
          <li>대표자 박기언</li>
          <li>통신판매업신고 2021-제주건입-0021</li>
          <li>사업자등록번호 127-94-74465</li>
          <li>afarms@afarms.ai</li>
          <li>FAX 02-312-0118</li>
          <li>TEL 02-312-0117</li>

          </script>
        </ul>
        <p class="text-sm mb-0">© 2021 <a href="/" class="h6 text-sm" target="_blank">Afarms</a>. All rights reserved.</p>
      </div>
      <!-- div class="col-sm-5 footer_box_02">
        <ul class="nav justify-content-center justify-content-md-end">
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target=".terms-modal-sm">이용약관</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target=".privacy-modal-sm">개인정보처리방침</a>
          </li>
        </ul>
      </div -->
    </div>

  </div>
  <!-- Footer E -->

  

      
</body>
</html>